{"openapi":"3.1.0","info":{"title":"Frauddi API","description":"\nThe Frauddi API is organized around REST. Our API has predictable resource-oriented URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes and authentication.\n\n## Authentication\n\nAuthenticate API requests using your API key in the Authorization header:\n\n```\nAuthorization: Bearer your_api_key_here\n```\n\n## Making Requests\n\nAll API requests should be made over HTTPS to the base URL. Request and response bodies are JSON.\n\n## Response Format\n\nAll API responses follow a consistent structure with appropriate HTTP status codes. Successful requests return relevant data objects, while errors return detailed error information.\n\n## Getting Started\n\n1. Obtain your API key from the Frauddi dashboard or by contacting our sales team\n2. Make a test request to the health check endpoint\n3. Submit transaction data to assessment endpoints\n4. Configure rules and thresholds for your use case\n    ","contact":{"name":"Frauddi Support","url":"https://frauddi.com/support","email":"support@frauddi.com"},"version":"1.0.0"},"servers":[{"url":"https://api.frauddi.com","description":"Production server"}],"paths":{"/api/v1/assessments/charges":{"post":{"tags":["Assessments"],"summary":"Assess Charge for Fraud Risk","description":"Submit a payment charge for real-time fraud assessment.\n\n    This endpoint processes the charge through multiple detection layers:\n    - **Whitelist/Blacklist checking** - Verify against trusted and blocked entities\n    - **Rule Engine** - Apply custom fraud detection rules\n    - **ML Models** - Advanced pattern recognition and anomaly detection\n    - **Graph Analysis** - Relationship mapping and network analysis\n    - **Email Validation** - Email risk assessment and verification\n\n    Returns a comprehensive risk assessment with decision rationale and score.","operationId":"assessment_charge_api_v1_assessments_charges_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}}},"required":true},"responses":{"200":{"description":"Fraud assessment completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentDataResponse"},"example":{"decision":"ACCEPT","score":0.15,"decided_by":{"module":"RULES","priority":1,"decision":"ACCEPT"},"assessment_id":"550e8400-e29b-41d4-a716-446655440000","details":{"whitelists":{"decision":"NO_DECISION"},"blacklists":{"decision":"NO_DECISION"},"rules":{"decision":"ACCEPT","matched_rules":["rule_1"]}}}}}},"400":{"description":"Invalid charge data or configuration error"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation error in charge data"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/assessments/emails":{"post":{"tags":["Assessments"],"summary":"Assess Email Risk","description":"Validate and assess risk for customer email addresses.\n\n    This endpoint analyzes email addresses for:\n    - **Domain reputation** - Check email domain against threat databases\n    - **Disposable email detection** - Identify temporary or throwaway emails\n    - **Syntax validation** - Verify email format and structure\n    - **Risk scoring** - Calculate fraud probability based on email patterns\n\n    Returns assessment with email-specific risk indicators and recommendations.","operationId":"assessment_email_api_v1_assessments_emails_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}}},"required":true},"responses":{"200":{"description":"Email assessment completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentDataResponse"},"example":{"decision":"ACCEPT","assessment_id":"550e8400-e29b-41d4-a716-446655440000","assessment_type":"EMAIL","decided_by":{"module":"EMAIL","priority":1,"decision":"ACCEPT"},"decision_details":{"EMAIL":{"result":{"is_valid":true,"is_disposable":false,"domain_reputation":"good"}}}}}}},"400":{"description":"Invalid email format or charge data"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation error in request data"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/assessments/rules":{"post":{"tags":["Assessments"],"summary":"Assess Risk Using Rules","description":"Evaluate transaction risk using your custom fraud detection rules.\n\n    This endpoint applies all active rules configured for your company and returns:\n    - **Rule evaluation results** - Which rules matched and their outcomes\n    - **Decision hierarchy** - Rule priority and decision logic\n    - **Custom logic execution** - DSL-based business rules processing\n    - **Threshold analysis** - Rule confidence scores and thresholds\n\n    Rules are processed in priority order and can trigger various actions (ACCEPT, REVIEW, DECLINE).","operationId":"assessment_rule_api_v1_assessments_rules_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}}},"required":true},"responses":{"200":{"description":"Rules assessment completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentDataResponse"},"example":{"decision":"REVIEW","assessment_id":"550e8400-e29b-41d4-a716-446655440000","assessment_type":"RULE","decided_by":{"module":"RULES","priority":1,"decision":"REVIEW"},"decision_details":{"RULES":{"result":{"matched_rules":["high_amount_rule","new_customer_rule"],"rule_scores":{"high_amount_rule":0.8,"new_customer_rule":0.6},"final_score":0.85}}}}}}},"400":{"description":"Invalid charge data or rule configuration error"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation error in request data"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/assessments/blacklists":{"post":{"tags":["Assessments"],"summary":"Check Against Blacklists","description":"Check transaction and customer data against your company's blacklists.\n\n    This endpoint validates multiple data points against blacklisted entities:\n    - **Email addresses** - Blocked customer emails\n    - **IP addresses** - Suspicious or blocked IPs\n    - **Card numbers** - Blocked payment methods (hashed for security)\n    - **Phone numbers** - Blocked customer phone numbers\n    - **Device fingerprints** - Blocked devices or browsers\n\n    Returns immediate DECLINE decision if any blacklisted entity is detected.","operationId":"assessment_blacklist_api_v1_assessments_blacklists_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}}},"required":true},"responses":{"200":{"description":"Blacklist assessment completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentDataResponse"},"example":{"decision":"DECLINE","assessment_id":"550e8400-e29b-41d4-a716-446655440000","assessment_type":"BLACKLIST","decided_by":{"module":"BLACKLISTS","priority":1,"decision":"DECLINE"},"decision_details":{"BLACKLISTS":{"result":{"matches_found":["email","ip_address"],"blacklisted_email":"fraud@example.com","blacklisted_ip":"192.168.1.100"}}}}}}},"400":{"description":"Invalid charge data"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation error in request data"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/assessments/whitelists":{"post":{"tags":["Assessments"],"summary":"Check Against Whitelists","description":"Check transaction and customer data against your company's whitelists.\n\n    This endpoint validates multiple data points against trusted entities:\n    - **Email addresses** - Trusted customer emails\n    - **IP addresses** - Trusted or corporate IPs\n    - **Card numbers** - Trusted payment methods (hashed for security)\n    - **Phone numbers** - Verified customer phone numbers\n    - **Device fingerprints** - Trusted devices or browsers\n\n    Returns immediate ACCEPT decision if any whitelisted entity is detected, bypassing other fraud checks.","operationId":"assessment_whitelist_api_v1_assessments_whitelists_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}}},"required":true},"responses":{"200":{"description":"Whitelist assessment completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentDataResponse"},"example":{"decision":"ACCEPT","assessment_id":"550e8400-e29b-41d4-a716-446655440000","assessment_type":"WHITELIST","decided_by":{"module":"WHITELISTS","priority":1,"decision":"ACCEPT"},"decision_details":{"WHITELISTS":{"result":{"matches_found":["email"],"whitelisted_email":"trusted@company.com","bypass_reason":"trusted_customer"}}}}}}},"400":{"description":"Invalid charge data"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation error in request data"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/assessments/{assessment_id}":{"get":{"tags":["Assessments"],"summary":"Get Assessment Details","description":"Retrieve detailed information about a specific fraud assessment by its ID.","operationId":"get_assessment_api_v1_assessments__assessment_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"assessment_id","in":"path","required":true,"schema":{"type":"string","title":"Assessment Id"}}],"responses":{"200":{"description":"Assessment details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentResponse"}}}},"404":{"description":"Assessment not found"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/assessments/type/{assessment_type}":{"get":{"tags":["Assessments"],"summary":"List Assessments by Type","description":"Retrieve a paginated list of assessments filtered by type.\n\n    Available assessment types:\n    - **CHARGE** - Full transaction assessments\n    - **EMAIL** - Email validation assessments\n    - **RULE** - Rules-based assessments\n    - **BLACKLIST** - Blacklist check assessments\n    - **WHITELIST** - Whitelist check assessments\n\n    Results are ordered by creation date (newest first) and support pagination.","operationId":"get_assessments_by_type_api_v1_assessments_type__assessment_type__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"assessment_type","in":"path","required":true,"schema":{"type":"string","title":"Assessment Type"}},{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","description":"Page number (1-based)","default":1,"title":"Current Page"},"description":"Page number (1-based)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","description":"Number of assessments per page","default":20,"title":"Page Size"},"description":"Number of assessments per page"}],"responses":{"200":{"description":"Assessments retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessmentListResponse"}}}},"400":{"description":"Invalid assessment type"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/rules/":{"post":{"tags":["Rules"],"summary":"Create fraud detection rule","description":"Create a new custom fraud detection rule using Frauddi's domain-specific language (DSL). Rules are evaluated in real-time during fraud assessments.","operationId":"add_rule_api_v1_rules__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleRequest"}}}},"responses":{"200":{"description":"Successfully created fraud detection rule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Rules"],"summary":"List fraud detection rules","description":"Retrieve a paginated list of all fraud detection rules for your company.","operationId":"list_rules_api_v1_rules__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","description":"Page number (1-based)","default":1,"title":"Current Page"},"description":"Page number (1-based)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","description":"Number of rules per page","default":20,"title":"Page Size"},"description":"Number of rules per page"}],"responses":{"200":{"description":"Successfully retrieved fraud detection rules with pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleListResponse"},"example":{"data":[{"id":"rule_123456","value":"payment.amount > 1000 and customer.email.contains('@suspicious.com')","decision":"REJECT","expire_at":"2024-12-31T23:59:59Z","created_at":"2024-01-15T10:30:00Z","updated_at":"2024-01-15T10:30:00Z"}],"pagination":{"current_page":1,"has_next":false,"has_previous":true,"last_page":1,"next_page":2,"page_size":20}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/rules/{rule_id}":{"put":{"tags":["Rules"],"summary":"Update fraud detection rule","description":"Update an existing fraud detection rule. The rule will be validated before applying changes.","operationId":"update_rule_api_v1_rules__rule_id__put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"rule_id","in":"path","required":true,"schema":{"type":"string","title":"Rule Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleRequest"}}}},"responses":{"200":{"description":"Successfully updated fraud detection rule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Rules"],"summary":"Delete fraud detection rule","description":"Permanently delete a fraud detection rule. This action cannot be undone.","operationId":"delete_rule_api_v1_rules__rule_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"rule_id","in":"path","required":true,"schema":{"type":"string","title":"Rule Id"}}],"responses":{"204":{"description":"Successfully deleted fraud detection rule"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Rules"],"summary":"Get fraud detection rule","description":"Retrieve a specific fraud detection rule by its ID.","operationId":"get_rule_api_v1_rules__rule_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"rule_id","in":"path","required":true,"schema":{"type":"string","title":"Rule Id"}}],"responses":{"200":{"description":"Successfully retrieved fraud detection rule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/rules/simulate":{"post":{"tags":["Rules"],"summary":"Simulate fraud detection rules","description":"Test how your fraud detection rules would perform against historical transaction data without affecting live assessments. This endpoint allows you to optimize rule logic and validate effectiveness before deploying to production.","operationId":"simulate_rules_api_v1_rules_simulate_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulationRequest"}}},"required":true},"responses":{"200":{"description":"Successfully simulated fraud detection rules with performance metrics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/blacklists/":{"post":{"tags":["Blacklists"],"summary":"Create blacklist entry","description":"Add a value to the blacklist for automated fraud prevention. Accepts customer emails, phone numbers, or payment card hashes. Blacklisted values will automatically trigger fraud alerts in future assessments.","operationId":"add_blacklist_api_v1_blacklists__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlacklistRequest"}}}},"responses":{"200":{"description":"Successfully created blacklist entry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlacklistResponse"}}}},"409":{"description":"Blacklist entry already exists","content":{"application/json":{"example":{"detail":"The blacklist already exists."}}}},"422":{"description":"Invalid blacklist data provided","content":{"application/json":{"example":{"detail":"The blacklist could not be added."}}}}}},"get":{"tags":["Blacklists"],"summary":"List blacklist entries","description":"Retrieve all blacklist entries with pagination. Returns customer emails, phone numbers, and payment card hashes currently blocked by fraud prevention system.","operationId":"list_blacklists_api_v1_blacklists__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number for pagination","default":1,"title":"Current Page"},"description":"Page number for pagination"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of entries per page","default":50,"title":"Page Size"},"description":"Number of entries per page"}],"responses":{"200":{"description":"Successfully retrieved blacklist entries with pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlacklistListResponse"},"example":{"data":[{"id":"bl_123456","value":"fraud@suspicious.com","type":"email","reason":"Multiple failed transactions","created_at":"2024-01-15T10:30:00Z","updated_at":"2024-01-15T10:30:00Z"}],"pagination":{"current_page":1,"has_next":false,"has_previous":true,"last_page":1,"next_page":2,"page_size":20}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/blacklists/{blacklist_id}":{"put":{"tags":["Blacklists"],"summary":"Update blacklist entry","description":"Modify an existing blacklist entry. Updates the value (email, phone number, or card hash) and metadata while preserving the entry's fraud prevention status.","operationId":"update_blacklist_api_v1_blacklists__blacklist_id__put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"blacklist_id","in":"path","required":true,"schema":{"type":"string","title":"Blacklist Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlacklistRequest"}}}},"responses":{"200":{"description":"Successfully updated blacklist entry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlacklistResponse"}}}},"404":{"description":"Blacklist entry not found","content":{"application/json":{"example":{"detail":"The blacklist does not exist."}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Blacklists"],"summary":"Delete blacklist entry","description":"Remove a value from the blacklist. Deleted entries (email, phone number, or card hash) will no longer trigger fraud alerts in future assessments.","operationId":"delete_blacklist_api_v1_blacklists__blacklist_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"blacklist_id","in":"path","required":true,"schema":{"type":"string","title":"Blacklist Id"}}],"responses":{"204":{"description":"Blacklist entry successfully deleted"},"404":{"description":"Blacklist entry not found","content":{"application/json":{"example":{"detail":"The blacklist does not exist."}}}},"422":{"description":"Unable to delete blacklist entry","content":{"application/json":{"example":{"detail":"The blacklist could not be deleted."}}}}}},"get":{"tags":["Blacklists"],"summary":"Retrieve blacklist entry","description":"Get details of a specific blacklist entry including its value (email, phone number, or card hash), type, and metadata.","operationId":"get_blacklist_api_v1_blacklists__blacklist_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"blacklist_id","in":"path","required":true,"schema":{"type":"string","title":"Blacklist Id"}}],"responses":{"200":{"description":"Blacklist entry details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlacklistResponse"}}}},"404":{"description":"Blacklist entry not found","content":{"application/json":{"example":{"detail":"The blacklist does not exist."}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/whitelists/":{"post":{"tags":["Whitelists"],"summary":"Create whitelist entry","description":"Add a value to the whitelist for fraud prevention bypass. Accepts customer emails, phone numbers, or payment card hashes. Whitelisted values will automatically be excluded from fraud alerts in future assessments.","operationId":"add_whitelist_api_v1_whitelists__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelistRequest"}}}},"responses":{"200":{"description":"Successfully created whitelist entry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelistResponse"}}}},"409":{"description":"Whitelist entry already exists","content":{"application/json":{"example":{"detail":"The whitelist already exists."}}}},"422":{"description":"Invalid whitelist data provided","content":{"application/json":{"example":{"detail":"The whitelist could not be added."}}}}}},"get":{"tags":["Whitelists"],"summary":"List whitelist entries","description":"Retrieve all whitelist entries with pagination. Returns customer emails, phone numbers, and payment card hashes currently excluded from fraud prevention system.","operationId":"fetch_whitelists_api_v1_whitelists__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number for pagination","default":1,"title":"Current Page"},"description":"Page number for pagination"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of entries per page","default":50,"title":"Page Size"},"description":"Number of entries per page"}],"responses":{"200":{"description":"Successfully retrieved whitelist entries with pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelistListResponse"},"example":{"data":[{"id":"wl_123456","value":"trusted@company.com","type":"email","reason":"VIP customer","created_at":"2024-01-15T10:30:00Z","updated_at":"2024-01-15T10:30:00Z"}],"pagination":{"current_page":1,"has_next":false,"has_previous":true,"last_page":1,"next_page":2,"page_size":20}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/whitelists/{whitelist_id}":{"put":{"tags":["Whitelists"],"summary":"Update whitelist entry","description":"Modify an existing whitelist entry. Updates the value (email, phone number, or card hash) and metadata while preserving the entry's fraud prevention bypass status.","operationId":"update_whitelist_api_v1_whitelists__whitelist_id__put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"whitelist_id","in":"path","required":true,"schema":{"type":"string","title":"Whitelist Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelistRequest"}}}},"responses":{"200":{"description":"Successfully updated whitelist entry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelistResponse"}}}},"404":{"description":"Whitelist entry not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Whitelists"],"summary":"Delete whitelist entry","description":"Remove a value from the whitelist. Deleted entries (email, phone number, or card hash) will no longer be excluded from fraud alerts in future assessments.","operationId":"delete_whitelist_api_v1_whitelists__whitelist_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"whitelist_id","in":"path","required":true,"schema":{"type":"string","title":"Whitelist Id"}}],"responses":{"204":{"description":"Whitelist entry successfully deleted"},"404":{"description":"Whitelist entry not found"},"422":{"description":"Unable to delete whitelist entry"}}},"get":{"tags":["Whitelists"],"summary":"Retrieve whitelist entry","description":"Get details of a specific whitelist entry including its value (email, phone number, or card hash), type, and metadata.","operationId":"get_whitelist_api_v1_whitelists__whitelist_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"whitelist_id","in":"path","required":true,"schema":{"type":"string","title":"Whitelist Id"}}],"responses":{"200":{"description":"Whitelist entry details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelistResponse"}}}},"404":{"description":"Whitelist entry not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/snapshots/":{"post":{"tags":["Snapshots"],"summary":"Create data snapshot","description":"Create a backup snapshot of specified data collections. Snapshot creation runs asynchronously in the background.","operationId":"create_snapshot_api_v1_snapshots__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotRequest"}}}},"responses":{"200":{"description":"Successfully initiated snapshot creation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponse"}}}},"422":{"description":"Unable to create snapshot"}}},"get":{"tags":["Snapshots"],"summary":"List snapshots","description":"Retrieve all snapshots with pagination. Returns snapshot history including creation dates, status, and collection information.","operationId":"list_snapshots_api_v1_snapshots__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number for pagination","default":1,"title":"Current Page"},"description":"Page number for pagination"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of snapshots per page","default":50,"title":"Page Size"},"description":"Number of snapshots per page"}],"responses":{"200":{"description":"Paginated list of snapshots","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/snapshots/{snapshot_id}":{"get":{"tags":["Snapshots"],"summary":"Retrieve snapshot details","description":"Get detailed information about a specific snapshot including its status, creation date, and collections included.","operationId":"get_snapshot_api_v1_snapshots__snapshot_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"snapshot_id","in":"path","required":true,"schema":{"type":"string","title":"Snapshot Id"}}],"responses":{"200":{"description":"Snapshot details and metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponse"}}}},"404":{"description":"Snapshot not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Snapshots"],"summary":"Delete snapshot","description":"Permanently delete a snapshot and all its associated data. This action cannot be undone.","operationId":"delete_snapshot_api_v1_snapshots__snapshot_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"snapshot_id","in":"path","required":true,"schema":{"type":"string","title":"Snapshot Id"}}],"responses":{"204":{"description":"Snapshot successfully deleted"},"404":{"description":"Snapshot not found"},"422":{"description":"Unable to delete snapshot"}}}},"/api/v1/snapshots/{snapshot_id}/metadata":{"get":{"tags":["Snapshots"],"summary":"Get snapshot metadata","description":"Retrieve detailed metadata about a snapshot including collection statistics, data counts, and snapshot integrity information.","operationId":"get_snapshot_details_api_v1_snapshots__snapshot_id__metadata_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"snapshot_id","in":"path","required":true,"schema":{"type":"string","title":"Snapshot Id"}}],"responses":{"200":{"description":"Detailed snapshot metadata and statistics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotMetadataResponse"}}}},"404":{"description":"Snapshot not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/snapshots/{snapshot_id}/restore":{"post":{"tags":["Snapshots"],"summary":"Restore snapshot","description":"Restore data from a snapshot to specified collections. Restoration runs asynchronously in the background and may overwrite existing data.","operationId":"restore_snapshot_api_v1_snapshots__snapshot_id__restore_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"snapshot_id","in":"path","required":true,"schema":{"type":"string","title":"Snapshot Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotRequest"}}}},"responses":{"200":{"description":"Successfully initiated snapshot restoration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotRestoreResponse"}}}},"404":{"description":"Snapshot not found"},"422":{"description":"Unable to restore snapshot"}}},"get":{"tags":["Snapshots"],"summary":"List restore operations","description":"Retrieve all restore operations for a specific snapshot with pagination. Shows restore history including status and timestamps.","operationId":"list_restore_snapshots_api_v1_snapshots__snapshot_id__restore_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"snapshot_id","in":"path","required":true,"schema":{"type":"string","title":"Snapshot Id"}},{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number for pagination","default":1,"title":"Current Page"},"description":"Page number for pagination"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of restore operations per page","default":50,"title":"Page Size"},"description":"Number of restore operations per page"}],"responses":{"200":{"description":"Paginated list of restore operations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotRestoreListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/snapshots/{snapshot_id}/restore/{snapshot_restore_id}":{"get":{"tags":["Snapshots"],"summary":"Get restore operation details","description":"Retrieve detailed information about a specific restore operation including status, progress, and any errors encountered.","operationId":"get_restore_snapshot_api_v1_snapshots__snapshot_id__restore__snapshot_restore_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"snapshot_id","in":"path","required":true,"schema":{"type":"string","title":"Snapshot Id"}},{"name":"snapshot_restore_id","in":"path","required":true,"schema":{"type":"string","title":"Snapshot Restore Id"}}],"responses":{"200":{"description":"Restore operation details and status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotRestoreResponse"}}}},"404":{"description":"Restore operation not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/snapshots/compare":{"post":{"tags":["Snapshots"],"summary":"Compare snapshots","description":"Compare two snapshots to identify differences in fraud detection module data, providing detailed change analysis for audit and rollback purposes.","operationId":"compare_snapshots_api_v1_snapshots_compare_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotCompareRequest"}}},"required":true},"responses":{"200":{"description":"Detailed comparison showing differences between snapshots","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotCompareResponse"}}}},"404":{"description":"One or both snapshots not found"},"422":{"description":"Invalid snapshot IDs or comparison parameters"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/aggregations/":{"post":{"tags":["Analytics"],"summary":"Create Analytics Aggregation","description":"Create a new data aggregation rule for analytics and pattern detection.\n\n    Aggregations allow you to:\n    - **Monitor transaction patterns** - Track volume, velocity, and behavior over time\n    - **Set detection thresholds** - Define limits for suspicious activity\n    - **Analyze customer behavior** - Aggregate data by customer, location, or device\n    - **Create custom metrics** - Build business-specific fraud indicators\n    - **Real-time monitoring** - Continuous evaluation of aggregated data\n\n    Perfect for velocity checks, spending pattern analysis, and behavioral anomaly detection.","operationId":"add_aggregation_api_v1_aggregations__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationRequest"}}}},"responses":{"200":{"description":"Aggregation created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationResponse"},"example":{"aggregation_id":"agg_123456","name":"Daily Transaction Volume","field":"amount","operation":"SUM","time_window":"24h","threshold":10000,"status":"active"}}}},"400":{"description":"Invalid aggregation configuration"},"401":{"description":"Invalid or missing API key"},"409":{"description":"Aggregation already exists"},"422":{"description":"Validation error in request data"}}},"get":{"tags":["Analytics"],"summary":"List Analytics Aggregations","description":"Retrieve a paginated list of all analytics aggregation rules for your company.","operationId":"list_aggregations_api_v1_aggregations__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","description":"Page number (1-based)","default":1,"title":"Current Page"},"description":"Page number (1-based)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","description":"Number of aggregations per page","default":20,"title":"Page Size"},"description":"Number of aggregations per page"}],"responses":{"200":{"description":"Successfully retrieved aggregation rules with pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationListResponse"},"example":{"data":[{"id":"agg_123456","name":"Daily Transaction Volume","value":"card:24h:count > 50 and customer:1h:amount_sum > 10000","periods":[5,30,60,360],"status":"ACTIVE","created_at":"2024-01-15T10:30:00Z","updated_at":"2024-01-15T10:30:00Z"}],"pagination":{"current_page":1,"has_next":false,"has_previous":true,"last_page":1,"next_page":2,"page_size":20}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/aggregations/{aggregation_id}":{"put":{"tags":["Analytics"],"summary":"Update Analytics Aggregation","description":"Update an existing analytics aggregation rule configuration, including thresholds, time windows, and monitoring parameters.","operationId":"update_aggregation_api_v1_aggregations__aggregation_id__put","security":[{"HTTPBearer":[]}],"parameters":[{"name":"aggregation_id","in":"path","required":true,"schema":{"type":"string","title":"Aggregation Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationRequest"}}}},"responses":{"200":{"description":"Aggregation updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationResponse"}}}},"400":{"description":"Invalid aggregation configuration"},"401":{"description":"Invalid or missing API key"},"404":{"description":"Aggregation not found"},"422":{"description":"Validation error in request data"}}},"delete":{"tags":["Analytics"],"summary":"Delete Analytics Aggregation","description":"Permanently delete an analytics aggregation rule. This action cannot be undone.","operationId":"delete_aggregation_api_v1_aggregations__aggregation_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"aggregation_id","in":"path","required":true,"schema":{"type":"string","title":"Aggregation Id"}}],"responses":{"204":{"description":"Aggregation deleted successfully"},"401":{"description":"Invalid or missing API key"},"404":{"description":"Aggregation not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Analytics"],"summary":"Get Analytics Aggregation","description":"Retrieve a specific analytics aggregation rule by its ID.","operationId":"get_aggregation_api_v1_aggregations__aggregation_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"aggregation_id","in":"path","required":true,"schema":{"type":"string","title":"Aggregation Id"}}],"responses":{"200":{"description":"Aggregation retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationResponse"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Aggregation not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/aggregations/fields":{"get":{"tags":["Analytics"],"summary":"List Available Aggregation Fields","description":"Get the list of available fields that can be used in analytics aggregations.\n\n    Returns all transaction and customer fields that can be aggregated including:\n    - **Transaction fields** - amount, currency, status, timestamps\n    - **Customer fields** - email, phone, location, device data\n    - **Payment fields** - card type, BIN, payment method\n    - **Metadata fields** - Custom fields from transaction metadata\n\n    Use these fields to build custom aggregation rules for pattern detection.","operationId":"list_fields_api_v1_aggregations_fields_get","responses":{"200":{"description":"Fields retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationFieldsResponse"}}}},"401":{"description":"Invalid or missing API key"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/aggregations/fields/description":{"get":{"tags":["Analytics"],"summary":"Get Field Descriptions","description":"Get detailed descriptions and data types for all available aggregation fields.","operationId":"list_fields_description_api_v1_aggregations_fields_description_get","responses":{"200":{"description":"Field descriptions retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationFieldsResponse"}}}},"401":{"description":"Invalid or missing API key"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/aggregations/charges/{charge_id}/events":{"get":{"tags":["Analytics"],"summary":"Get Aggregation Events","description":"Get analytics events triggered for a specific transaction charge.","operationId":"get_aggregation_events_api_v1_aggregations_charges__charge_id__events_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"charge_id","in":"path","required":true,"schema":{"type":"string","title":"Charge Id"}},{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","description":"Page number (1-based)","default":1,"title":"Current Page"},"description":"Page number (1-based)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","description":"Number of events per page","default":20,"title":"Page Size"},"description":"Number of events per page"}],"responses":{"200":{"description":"List of aggregation events for the charge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationEventListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/aggregations/charges/{charge_id}/logs":{"get":{"tags":["Analytics"],"summary":"Get Aggregation Event Logs","description":"Get detailed logs of analytics events for a specific transaction charge.","operationId":"get_aggregation_events_logs_api_v1_aggregations_charges__charge_id__logs_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"charge_id","in":"path","required":true,"schema":{"type":"string","title":"Charge Id"}},{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","description":"Page number (1-based)","default":1,"title":"Current Page"},"description":"Page number (1-based)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","description":"Number of logs per page","default":20,"title":"Page Size"},"description":"Number of logs per page"}],"responses":{"200":{"description":"Detailed logs of aggregation events for the charge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationEventLogListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/anomalies/tree":{"post":{"tags":["Anomalies"],"summary":"Detect optimized anomalies","description":"Execute optimized anomaly detection using isolation forest algorithm to identify unusual patterns in transaction data efficiently.","operationId":"post_anomalies_tree_api_v1_anomalies_tree_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyOptimizedRequest"}}},"required":true},"responses":{"200":{"description":"Detected anomalies with confidence scores and optimization metrics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyOptimizedResult"}}}},"422":{"description":"Invalid request parameters or malformed data"}},"security":[{"HTTPBearer":[]}]}},"/api/v1/anomalies/discover":{"post":{"tags":["Anomalies"],"summary":"Auto-discover anomaly patterns","description":"Automatically discover the most important concentration patterns in your data without specifying fields in advance. Uses DataSpot's discovery algorithm.","operationId":"discover_api_v1_anomalies_discover_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyDiscoverRequest"}}},"required":true},"responses":{"200":{"description":"Discovered patterns and field rankings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyDiscoverResult"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/anomalies/find":{"post":{"tags":["Anomalies"],"summary":"Find concentration patterns","description":"Find where your data concentrates across specified fields using DataSpot's pattern detection. Includes configurable filtering options and depth control.","operationId":"find_api_v1_anomalies_find_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyFindRequest"}}},"required":true},"responses":{"200":{"description":"Found concentration patterns in specified fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyFindResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/anomalies/analyze":{"post":{"tags":["Anomalies"],"summary":"Perform statistical analysis","description":"Conduct deep statistical analysis on data patterns using DataSpot. Provides confidence scores, statistical significance, and actionable insights for each pattern.","operationId":"analyze_api_v1_anomalies_analyze_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyAnalyzeRequest"}}},"required":true},"responses":{"200":{"description":"Statistical analysis results with insights and confidence scores","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyAnalyzeResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/anomalies/compare":{"post":{"tags":["Anomalies"],"summary":"Compare data between time periods","description":"Compare data patterns between current and baseline periods using DataSpot. Detects changes, new patterns, and disappeared patterns for A/B testing and trend analysis.","operationId":"compare_api_v1_anomalies_compare_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyCompareRequest"}}},"required":true},"responses":{"200":{"description":"Temporal comparison results with change detection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyCompareResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/anomalies/fields":{"get":{"tags":["Anomalies"],"summary":"Get available analysis fields","description":"Retrieve categorized list of fields available for anomaly analysis including customer, payment, and charge fields.","operationId":"get_available_fields_api_v1_anomalies_fields_get","responses":{"200":{"description":"Categorized list of available fields for analysis","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnomalyFieldsResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/charges/{charge_id}":{"get":{"tags":["Charges"],"summary":"Retrieve charge details","description":"Get detailed information about a specific charge including transaction data, customer information, and assessment results.","operationId":"get_charge_api_v1_charges__charge_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"charge_id","in":"path","required":true,"schema":{"type":"string","title":"Charge Id"}}],"responses":{"200":{"description":"Charge details with transaction and assessment data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeResponse"}}}},"404":{"description":"Charge not found","content":{"application/json":{"example":{"detail":"The charge does not exist."}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/charges/":{"get":{"tags":["Charges"],"summary":"List charges","description":"Retrieve all charges with pagination. Returns transaction history including amounts, customer data, and fraud assessment results.","operationId":"list_charges_api_v1_charges__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"current_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number for pagination","default":1,"title":"Current Page"},"description":"Page number for pagination"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of charges per page","default":50,"title":"Page Size"},"description":"Number of charges per page"}],"responses":{"200":{"description":"Paginated list of charges with transaction details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/graph/":{"get":{"tags":["Graph"],"summary":"Get Customer Relationship Graph","description":"Retrieve the relationship graph data for a specific customer showing all connected entities.\n\n    This endpoint returns network analysis data including:\n    - **Connected customers** - Other customers linked through shared attributes\n    - **Relationship strength** - Confidence scores for connections\n    - **Graph nodes** - Customer entities with their properties\n    - **Graph edges** - Relationships between customers with metadata\n    - **Visualization data** - Optimized for D3.js, vis.js, or Cytoscape libraries\n\n    Perfect for fraud ring detection, customer network analysis, and relationship visualization.","operationId":"get_graph_data_api_v1_graph__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"customer_id","in":"query","required":true,"schema":{"type":"string","description":"Customer ID to analyze relationships for","title":"Customer Id"},"description":"Customer ID to analyze relationships for"}],"responses":{"200":{"description":"Graph data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphDataResponse"},"example":{"nodes":[{"id":"CUSTOMER_123","label":"John Doe","email":"john@example.com","risk_score":0.3,"connections":2}],"edges":[{"source":"CUSTOMER_123","target":"CUSTOMER_456","relationship_type":"shared_email","strength":0.85}]}}}},"404":{"description":"Customer not found in graph"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Graph"],"summary":"Add Customer to Graph","description":"Add a new customer to the relationship graph and automatically detect connections.\n\n    This endpoint performs intelligent relationship detection based on shared attributes:\n    - **Email addresses** - Exact and domain-based matching\n    - **Phone numbers** - Direct number matching\n    - **Card numbers** - Secure hash-based matching\n    - **IP addresses** - Geographic and exact IP matching\n    - **Device fingerprints** - Browser/device identification\n    - **Address data** - Physical location correlation\n\n    The system automatically calculates relationship strength and identifies potential fraud rings.","operationId":"add_customer_api_v1_graph__post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCustomerRequest"}}}},"responses":{"201":{"description":"Customer added to graph successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCustomerResponse"},"example":{"customer_id":"CUSTOMER_789","relationships_detected":3,"connected_customers":["CUSTOMER_123","CUSTOMER_456"],"risk_indicators":["shared_device","same_ip_range"],"graph_updated":true}}}},"400":{"description":"Invalid customer data"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation error in request data"}}}},"/api/v1/graph/stats":{"get":{"tags":["Graph"],"summary":"Get Graph Analytics & Statistics","description":"Get comprehensive analytics and statistics for a customer's relationship network.\n\n    This endpoint provides deep insights into customer relationships including:\n    - **Network metrics** - Connection count, cluster size, centrality scores\n    - **Risk indicators** - Network-based risk patterns and anomalies\n    - **Transaction analytics** - Aggregated transaction data across the network\n    - **Behavioral patterns** - Shared behaviors and suspicious activities\n    - **Chargeback analysis** - Network-wide chargeback rates and patterns\n\n    Essential for fraud investigation, risk assessment, and customer profiling with 360° network visibility.","operationId":"get_graph_stats_api_v1_graph_stats_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"customer_id","in":"query","required":true,"schema":{"type":"string","description":"Customer ID to analyze network statistics for","title":"Customer Id"},"description":"Customer ID to analyze network statistics for"}],"responses":{"200":{"description":"Graph statistics retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphStatsResponse"},"example":{"customer_id":"CUSTOMER_123","network_size":15,"risk_score":0.75,"transaction_count":42,"chargeback_rate":0.05,"connected_customers":8,"suspicious_patterns":["shared_device","velocity_matching"]}}}},"404":{"description":"Customer not found in graph"},"401":{"description":"Invalid or missing API key"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/companies/configuration/execution/":{"get":{"tags":["Companies"],"summary":"Get execution configuration","description":"Retrieve the execution pipeline configuration for a company, including rule priorities, execution order, and stop conditions.","operationId":"get_configuration_api_v1_companies_configuration_execution__get","responses":{"200":{"description":"Execution configuration with prioritized rules and control settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationExecutionResponse"}}}},"404":{"description":"Configuration not found for this company"}},"security":[{"HTTPBearer":[]}]},"put":{"tags":["Companies"],"summary":"Update execution configuration","description":"Replace the execution configuration with new rule priorities, execution order, and control settings. Maintains configuration ID while updating all items.","operationId":"update_configuration_api_v1_companies_configuration_execution__put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationExecutionRequest"}}},"required":true},"responses":{"200":{"description":"Updated execution configuration with new settings applied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationExecutionResponse"}}}},"404":{"description":"Configuration not found for this company"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"post":{"tags":["Companies"],"summary":"Create execution configuration","description":"Create a new execution pipeline configuration defining rule execution order, priorities, and control flow for fraud detection.","operationId":"create_configuration_api_v1_companies_configuration_execution__post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationExecutionRequest"}}},"required":true},"responses":{"201":{"description":"Created execution configuration with generated IDs and applied settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationExecutionResponse"}}}},"409":{"description":"Configuration already exists for this company"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/companies/configuration/decision/":{"get":{"tags":["Companies"],"summary":"Get decision configuration","description":"Retrieve the decision-making configuration for a company, including score thresholds, risk levels, and action mappings for fraud detection outcomes.","operationId":"get_decision_configuration_api_v1_companies_configuration_decision__get","responses":{"200":{"description":"Decision configuration with score thresholds and action rules","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDecisionResponse"}}}},"404":{"description":"Decision configuration not found for this company"}},"security":[{"HTTPBearer":[]}]},"put":{"tags":["Companies"],"summary":"Update decision configuration","description":"Replace the decision configuration with new score thresholds, risk levels, and action rules for fraud detection outcomes.","operationId":"update_decision_configuration_api_v1_companies_configuration_decision__put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDecisionRequest"}}},"required":true},"responses":{"200":{"description":"Updated decision configuration with new thresholds and actions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDecisionResponse"}}}},"404":{"description":"Decision configuration not found for this company"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"post":{"tags":["Companies"],"summary":"Create decision configuration","description":"Create decision-making rules defining score thresholds, risk levels, and automated actions for fraud detection results.","operationId":"create_decision_configuration_api_v1_companies_configuration_decision__post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDecisionRequest"}}},"required":true},"responses":{"201":{"description":"Created decision configuration with defined thresholds and actions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDecisionResponse"}}}},"409":{"description":"Decision configuration already exists for this company"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/companies/configuration/models/":{"get":{"tags":["Companies"],"summary":"Get ML model configuration","description":"Retrieve machine learning model configuration for a company, including model parameters, feature engineering settings, and inference thresholds.","operationId":"get_model_configuration_api_v1_companies_configuration_models__get","responses":{"200":{"description":"ML model configuration with parameters and inference settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationModelResponse"}}}},"404":{"description":"ML model configuration not found for this company"}},"security":[{"HTTPBearer":[]}]},"put":{"tags":["Companies"],"summary":"Update ML model configuration","description":"Replace the ML model configuration with new parameters, feature engineering settings, and inference thresholds for fraud detection models.","operationId":"update_model_configuration_api_v1_companies_configuration_models__put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationModelRequest"}}},"required":true},"responses":{"200":{"description":"Updated ML model configuration with new parameters applied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationModelResponse"}}}},"404":{"description":"ML model configuration not found for this company"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"post":{"tags":["Companies"],"summary":"Create ML model configuration","description":"Create machine learning model configuration defining model parameters, feature engineering pipeline, and inference settings for fraud detection.","operationId":"create_model_configuration_api_v1_companies_configuration_models__post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationModelRequest"}}},"required":true},"responses":{"201":{"description":"Created ML model configuration with applied parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationModelResponse"}}}},"409":{"description":"ML model configuration already exists for this company"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/companies/details":{"get":{"tags":["Companies"],"summary":"Get company details","description":"Retrieve current company information including name, description, and legal representative details based on authentication token.","operationId":"get_company_details_api_v1_companies_details_get","responses":{"200":{"description":"Company details and configuration information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyResponse"}}}},"404":{"description":"Company not found"}},"security":[{"HTTPBearer":[]}]}},"/":{"get":{"summary":"Main","description":"Main endpoint for the application.","operationId":"main__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","title":"Response Main  Get"}}}}}}},"/ping":{"get":{"summary":"Pong","description":"Ping/Pong endpoint for the application.","operationId":"pong_ping_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","title":"Response Pong Ping Get"}}}}}}}},"components":{"schemas":{"AddCustomerRequest":{"properties":{"customer_id":{"type":"string","maxLength":100,"minLength":1,"title":"Customer Id","description":"Unique customer identifier. Must be unique across the system.","examples":["CUST_12345","customer_abc123"]},"email":{"type":"string","maxLength":254,"minLength":5,"pattern":"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$","title":"Email","description":"Customer email address. Must be a valid email format.","examples":["customer@example.com","user.name+tag@domain.co.uk"]},"phone":{"type":"string","maxLength":20,"minLength":7,"pattern":"^\\+?[1-9]\\d{6,19}$","title":"Phone","description":"Customer phone number including country code. Must be a valid phone format.","examples":["+1234567890","555-123-4567"]},"card_number":{"type":"string","maxLength":19,"minLength":4,"pattern":"^\\d{4,19}$","title":"Card Number","description":"Customer card number (digits only). Can be full card number (13-19 digits), BIN (6-8 digits), or last 4 digits. Should be masked or tokenized for security.","examples":["4111111111111111","5555555555554444","55791004","1111"]},"merchant_id":{"type":"string","maxLength":100,"title":"Merchant Id","description":"Merchant identifier associated with this customer. Optional field.","default":"","examples":["MERCH_001","merchant_xyz"]},"ip_addresses":{"items":{"type":"string"},"type":"array","title":"Ip Addresses","description":"List of IP addresses associated with this customer's transactions.","examples":[["192.168.1.1","10.0.0.1"],["2001:db8::1"]]},"device_ids":{"items":{"type":"string"},"type":"array","title":"Device Ids","description":"List of device identifiers used by this customer.","examples":[["device_123","mobile_456"],["laptop_789"]]},"acceptance":{"type":"integer","minimum":0.0,"title":"Acceptance","description":"Number of accepted transactions for this customer. Must be non-negative.","default":0,"examples":[10,25,100]},"declined":{"type":"integer","minimum":0.0,"title":"Declined","description":"Number of declined transactions for this customer. Must be non-negative.","default":0,"examples":[2,5,15]},"chargeback_fraud":{"type":"integer","minimum":0.0,"title":"Chargeback Fraud","description":"Number of fraud-related chargebacks. Must be non-negative.","default":0,"examples":[0,1,3]},"chargeback_authorization":{"type":"integer","minimum":0.0,"title":"Chargeback Authorization","description":"Number of authorization-related chargebacks. Must be non-negative.","default":0},"chargeback_processing_error":{"type":"integer","minimum":0.0,"title":"Chargeback Processing Error","description":"Number of processing error chargebacks. Must be non-negative.","default":0},"chargeback_customer_dispute":{"type":"integer","minimum":0.0,"title":"Chargeback Customer Dispute","description":"Number of customer dispute chargebacks. Must be non-negative.","default":0},"chargeback_non_receipt":{"type":"integer","minimum":0.0,"title":"Chargeback Non Receipt","description":"Number of non-receipt chargebacks. Must be non-negative.","default":0},"chargeback_cancelled_recurring":{"type":"integer","minimum":0.0,"title":"Chargeback Cancelled Recurring","description":"Number of cancelled recurring transaction chargebacks. Must be non-negative.","default":0},"chargeback_product_not_received":{"type":"integer","minimum":0.0,"title":"Chargeback Product Not Received","description":"Number of product not received chargebacks. Must be non-negative.","default":0},"chargeback_duplicate_processing":{"type":"integer","minimum":0.0,"title":"Chargeback Duplicate Processing","description":"Number of duplicate processing chargebacks. Must be non-negative.","default":0}},"type":"object","required":["customer_id","email","phone","card_number"],"title":"AddCustomerRequest","description":"Request model for adding a new customer to the graph."},"AddCustomerResponse":{"properties":{"customer_id":{"type":"string","title":"Customer Id","description":"Customer ID"},"related_customers":{"items":{"type":"string"},"type":"array","title":"Related Customers","description":"List of related customer IDs"},"shared_attributes":{"additionalProperties":{"additionalProperties":{"items":{"type":"string"},"type":"array"},"type":"object"},"type":"object","title":"Shared Attributes","description":"Shared attributes mapping"},"ring_id":{"type":"string","title":"Ring Id","description":"Fraud ring identifier"}},"type":"object","required":["customer_id","related_customers","shared_attributes","ring_id"],"title":"AddCustomerResponse","description":"Response for adding a customer."},"AggregationEventListResponse":{"properties":{"data":{"items":{"type":"object"},"type":"array","title":"Data"},"pagination":{"type":"object","title":"Pagination"}},"type":"object","required":["data","pagination"],"title":"AggregationEventListResponse","description":"Pydantic model for aggregation event list response."},"AggregationEventLogListResponse":{"properties":{"data":{"items":{"type":"object"},"type":"array","title":"Data"},"pagination":{"type":"object","title":"Pagination"}},"type":"object","required":["data","pagination"],"title":"AggregationEventLogListResponse","description":"Pydantic model for aggregation event log list response."},"AggregationFieldsResponse":{"properties":{"data":{"type":"object","title":"Data"}},"type":"object","required":["data"],"title":"AggregationFieldsResponse","description":"Pydantic model for aggregation fields response."},"AggregationListResponse":{"properties":{"data":{"items":{"type":"object"},"type":"array","title":"Data"},"pagination":{"type":"object","title":"Pagination"}},"type":"object","required":["data","pagination"],"title":"AggregationListResponse","description":"Pydantic model for aggregation list response."},"AggregationRequest":{"properties":{"name":{"type":"string","maxLength":100,"minLength":1,"pattern":"^[a-zA-Z][a-zA-Z0-9_-]*$","title":"Name","description":"Name identifier for the aggregation. Must be unique, start with a letter, and contain only letters, numbers, underscores, and hyphens.","examples":["daily_transactions","fraud_score_avg","customer_risk_count","high_value_cards"]},"value":{"type":"string","maxLength":1000,"minLength":1,"title":"Value","description":"Aggregation expression containing metrics in format 'entity:period:metric'. Valid entities: card, customer, company. Valid periods: 5m, 10m, 15m, 30m, 1h, 3h, 6h, 12h, 1d. Valid metrics: count, sum, avg, successful, declined, unique_companies, unique_customers, unique_cards, unique_ips, success_rate, decline_rate, velocity, median, std, min, max, p90, p95, p99, round_ratio, shannon_entropy, company_diversity.","examples":["card:5m:count > 10","customer:1h:sum >= 1000","card:30m:decline_rate > 0.1 and customer:1d:velocity > 5","company:12h:unique_customers < customer:1d:unique_cards"]},"periods":{"items":{"type":"integer"},"type":"array","maxItems":10,"minItems":1,"title":"Periods","description":"List of time periods (in minutes) for which to calculate aggregations. Valid periods: 5, 10, 15, 30, 60 (1h), 180 (3h), 360 (6h), 720 (12h), 1440 (1d). Must contain at least one period.","examples":[[5,30,60],[5,10,15,30,60,180],[60,360,1440]]}},"type":"object","required":["name","value","periods"],"title":"AggregationRequest","description":"Pydantic model for the aggregation request object."},"AggregationResponse":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"value":{"type":"string","title":"Value"},"periods":{"items":{"type":"integer"},"type":"array","title":"Periods"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"db_model":{"$ref":"#/components/schemas/AggregationRules"}},"type":"object","required":["id","name","value","periods","created_at","updated_at","db_model"],"title":"AggregationResponse","description":"Pydantic model for the aggregation response object."},"AggregationRules":{"properties":{"_id":{"anyOf":[{"$ref":"#/components/schemas/PydanticObjectId"},{"type":"null"}],"description":"MongoDB document ObjectID"},"aggregation_id":{"type":"string","title":"Aggregation Id"},"value":{"type":"string","minLength":1,"title":"Value","default":""},"name":{"type":"string","minLength":1,"title":"Name","default":""},"periods":{"items":{"type":"integer"},"type":"array","title":"Periods","default":[]},"company_id":{"type":"string","minLength":1,"title":"Company Id","default":""},"status":{"$ref":"#/components/schemas/AggregationStatus","default":"PENDING"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"processed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Processed At"}},"type":"object","title":"AggregationRules","description":"Represents an aggregation rule in the antifraud system.","example":{"company_id":"2242269","name":"rule1","value":"not (b == 2 and a == 2)"}},"AggregationStatus":{"type":"string","enum":["PENDING","ACTIVE","FAILED"],"title":"AggregationStatus","description":"Aggregation status enum."},"AnomalyAnalyzeRequest":{"properties":{"fields":{"items":{"type":"string"},"type":"array","maxItems":10,"minItems":1,"title":"Fields","description":"Fields to analyze statistically. Must specify at least one field name from the charges collection.","examples":[["payment.amount"],["customer.email","payment.currency"]]},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"MongoDB query filters for data retrieval. Use standard MongoDB query syntax.","examples":[{"status":"completed"},{"payment.amount":{"$gt":100}}]},"from_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From Date","description":"Start date for data analysis. ISO format with timezone.","examples":["2024-01-01T00:00:00Z"]},"to_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To Date","description":"End date for data analysis. Must be after from_date if specified.","examples":["2024-01-31T23:59:59Z"]},"min_percentage":{"type":"number","maximum":50.0,"minimum":0.1,"title":"Min Percentage","description":"Minimum percentage threshold for statistical analysis. Only patterns representing at least this percentage will be analyzed in detail.","default":10.0,"examples":[5.0,10.0,20.0]}},"type":"object","required":["fields"],"title":"AnomalyAnalyzeRequest","description":"Request model for statistical analysis."},"AnomalyAnalyzeResponse":{"properties":{"total_records":{"type":"integer","title":"Total Records","description":"Total number of records analyzed"},"fields":{"items":{"type":"string"},"type":"array","title":"Fields","description":"Fields to analyze for patterns"},"patterns":{"items":{"type":"object"},"type":"array","title":"Patterns","description":"Statistical patterns found"},"params":{"type":"object","title":"Params","description":"Parameters used for statistical analysis"},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"Query filters that were applied"},"insights":{"type":"object","title":"Insights","description":"Statistical insights and recommendations"},"statistics":{"type":"object","title":"Statistics","description":"Statistics of the analysis"}},"type":"object","required":["total_records","fields","patterns","params","insights","statistics"],"title":"AnomalyAnalyzeResponse","description":"Result model for statistical analysis."},"AnomalyCompareRequest":{"properties":{"fields":{"items":{"type":"string"},"type":"array","maxItems":10,"minItems":1,"title":"Fields","description":"Fields to compare between periods. Must specify at least one field name from the charges collection.","examples":[["payment.amount"],["customer.email","payment.currency"]]},"current_from_date":{"type":"string","format":"date-time","title":"Current From Date","description":"Start date for current period analysis. Must be before current_to_date.","examples":["2024-02-01T00:00:00Z"]},"current_to_date":{"type":"string","format":"date-time","title":"Current To Date","description":"End date for current period analysis. Must be after current_from_date.","examples":["2024-02-29T23:59:59Z"]},"baseline_from_date":{"type":"string","format":"date-time","title":"Baseline From Date","description":"Start date for baseline period analysis. Must be before baseline_to_date.","examples":["2024-01-01T00:00:00Z"]},"baseline_to_date":{"type":"string","format":"date-time","title":"Baseline To Date","description":"End date for baseline period analysis. Must be after baseline_from_date.","examples":["2024-01-31T23:59:59Z"]},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"MongoDB query filters applied to both periods. Use standard MongoDB query syntax.","examples":[{"status":"completed"},{"payment.amount":{"$gt":100}}]},"change_threshold":{"type":"number","maximum":1.0,"minimum":0.01,"title":"Change Threshold","description":"Threshold for detecting significant changes (0.01 = 1%, 1.0 = 100%). Changes above this threshold will be highlighted.","default":0.2,"examples":[0.1,0.2,0.5]},"statistical_significance":{"type":"boolean","title":"Statistical Significance","description":"Include statistical significance tests in the analysis. Provides p-values and confidence intervals for detected changes.","default":true}},"type":"object","required":["fields","current_from_date","current_to_date","baseline_from_date","baseline_to_date"],"title":"AnomalyCompareRequest","description":"Request model for temporal comparison."},"AnomalyCompareResponse":{"properties":{"current_records":{"type":"integer","title":"Current Records","description":"Number of records in current period"},"baseline_records":{"type":"integer","title":"Baseline Records","description":"Number of records in baseline period"},"fields":{"items":{"type":"string"},"type":"array","title":"Fields","description":"Fields to compare between periods"},"changes":{"items":{"type":"object"},"type":"array","title":"Changes","description":"Detected changes between periods"},"added_patterns":{"items":{"type":"object"},"type":"array","title":"Added Patterns","description":"New patterns found in current period"},"removed_patterns":{"items":{"type":"object"},"type":"array","title":"Removed Patterns","description":"Patterns that disappeared from baseline"},"statistics":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Statistics","description":"Statistical significance test results"},"params":{"type":"object","title":"Params","description":"Parameters used for comparison"},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"Query filters that were applied"}},"type":"object","required":["current_records","baseline_records","fields","changes","added_patterns","removed_patterns","params"],"title":"AnomalyCompareResponse","description":"Result model for temporal comparison."},"AnomalyDiscoverRequest":{"properties":{"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"MongoDB query filters for data retrieval. Use standard MongoDB query syntax.","examples":[{"status":"completed"},{"payment.amount":{"$gt":100}}]},"from_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From Date","description":"Start date for data analysis. ISO format with timezone.","examples":["2024-01-01T00:00:00Z"]},"to_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To Date","description":"End date for data analysis. Must be after from_date if specified.","examples":["2024-01-31T23:59:59Z"]},"max_fields":{"type":"integer","maximum":5.0,"minimum":1.0,"title":"Max Fields","description":"Maximum number of fields to analyze simultaneously. Higher values provide more detailed patterns but require more processing time.","default":3,"examples":[2,3,4]},"min_percentage":{"type":"number","maximum":50.0,"minimum":0.1,"title":"Min Percentage","description":"Minimum percentage threshold for pattern discovery. Only patterns representing at least this percentage of data will be discovered.","default":5.0,"examples":[1.0,5.0,10.0]},"limit":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"Limit","description":"Maximum number of patterns to discover. Higher limits provide more comprehensive results but slower performance.","default":20,"examples":[10,20,50]}},"type":"object","title":"AnomalyDiscoverRequest","description":"Request model for anomaly auto-discovery."},"AnomalyDiscoverResult":{"properties":{"total_records":{"type":"integer","title":"Total Records","description":"Total number of records analyzed"},"fields":{"items":{"type":"object"},"type":"array","title":"Fields","description":"Ranking of fields by importance and concentration potential"},"patterns":{"items":{"type":"object"},"type":"array","title":"Patterns","description":"Auto-discovered concentration patterns"},"params":{"type":"object","title":"Params","description":"Parameters used for auto-discovery"},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"Query filters that were applied"}},"type":"object","required":["total_records","fields","patterns","params"],"title":"AnomalyDiscoverResult","description":"Result model for anomaly auto-discovery."},"AnomalyFieldsResponse":{"properties":{"customer_fields":{"items":{"type":"string"},"type":"array","title":"Customer Fields","description":"List of customer-related fields available for analysis"},"payment_fields":{"items":{"type":"string"},"type":"array","title":"Payment Fields","description":"List of payment-related fields available for analysis"},"charge_fields":{"items":{"type":"string"},"type":"array","title":"Charge Fields","description":"List of charge-related fields available for analysis"}},"type":"object","required":["customer_fields","payment_fields","charge_fields"],"title":"AnomalyFieldsResponse","description":"Response model for available anomaly analysis fields."},"AnomalyFindRequest":{"properties":{"fields":{"items":{"type":"string"},"type":"array","maxItems":10,"minItems":1,"title":"Fields","description":"Fields to analyze for patterns. Must specify at least one field name from the charges collection.","examples":[["payment.amount"],["customer.email","payment.currency"]]},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"MongoDB query filters for data retrieval. Use standard MongoDB query syntax.","examples":[{"status":"completed"},{"payment.amount":{"$gt":100}}]},"from_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From Date","description":"Start date for data analysis. ISO format with timezone.","examples":["2024-01-01T00:00:00Z"]},"to_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To Date","description":"End date for data analysis. Must be after from_date if specified.","examples":["2024-01-31T23:59:59Z"]},"min_percentage":{"type":"number","maximum":50.0,"minimum":0.1,"title":"Min Percentage","description":"Minimum percentage threshold for patterns. Only patterns representing at least this percentage will be included.","default":5.0,"examples":[1.0,5.0,10.0]},"max_depth":{"type":"integer","maximum":5.0,"minimum":1.0,"title":"Max Depth","description":"Maximum depth for pattern hierarchy. Higher depths provide more detailed analysis but require more processing.","default":3,"examples":[2,3,4]},"contains":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Contains","description":"Pattern must contain this string. Use for filtering patterns by specific values.","examples":["visa","gmail.com","failed"]},"min_count":{"type":"integer","minimum":1.0,"title":"Min Count","description":"Minimum count for patterns. Only patterns with at least this many occurrences will be included.","default":1,"examples":[10,50,100]},"sort_by":{"type":"string","pattern":"^(percentage|count)$","title":"Sort By","description":"Sort patterns by 'percentage' (default) or 'count'. Percentage sorts by relative frequency, count by absolute occurrences.","default":"percentage","examples":["percentage","count"]},"limit":{"type":"integer","maximum":500.0,"minimum":1.0,"title":"Limit","description":"Maximum number of patterns to return. Higher limits provide more comprehensive results.","default":50,"examples":[20,50,100]}},"type":"object","required":["fields"],"title":"AnomalyFindRequest","description":"Request model for finding concentration patterns."},"AnomalyFindResponse":{"properties":{"total_records":{"type":"integer","title":"Total Records","description":"Total number of records analyzed"},"fields":{"items":{"type":"string"},"type":"array","title":"Fields","description":"Fields to analyze for patterns"},"patterns":{"items":{"type":"object"},"type":"array","title":"Patterns","description":"Found concentration patterns"},"params":{"type":"object","title":"Params","description":"Parameters used for pattern finding"},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"Query filters that were applied"}},"type":"object","required":["total_records","fields","patterns","params"],"title":"AnomalyFindResponse","description":"Result model for finding concentration patterns."},"AnomalyOptimizedRequest":{"properties":{"fields":{"items":{"type":"string"},"type":"array","maxItems":10,"minItems":1,"title":"Fields","description":"Fields to analyze for anomalies. Must specify at least one field name from the charges collection.","examples":[["payment.amount"],["customer.email","payment.currency"]]},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"MongoDB query filters for data retrieval. Use standard MongoDB query syntax.","examples":[{"status":"completed"},{"payment.amount":{"$gt":100}}]},"from_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From Date","description":"Start date for data analysis. ISO format with timezone.","examples":["2024-01-01T00:00:00Z"]},"to_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To Date","description":"End date for data analysis. Must be after from_date if specified.","examples":["2024-01-31T23:59:59Z"]},"top":{"type":"integer","maximum":50.0,"minimum":1.0,"title":"Top","description":"Number of top elements to consider in optimization. Higher values provide more detailed analysis but slower performance.","default":5,"examples":[5,10,20]},"min_value":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Min Value","description":"Minimum value threshold for optimization. Only patterns with at least this many occurrences will be included.","examples":[10,50,100]},"min_percentage":{"anyOf":[{"type":"integer","maximum":100.0,"minimum":1.0},{"type":"null"}],"title":"Min Percentage","description":"Minimum percentage threshold for optimization. Only patterns representing at least this percentage will be included.","examples":[5,10,25]}},"type":"object","required":["fields"],"title":"AnomalyOptimizedRequest","description":"Request model for optimized anomaly detection."},"AnomalyOptimizedResult":{"properties":{"total_records":{"type":"integer","title":"Total Records","description":"Total number of records analyzed"},"fields":{"items":{"type":"string"},"type":"array","title":"Fields","description":"Fields that were analyzed"},"patterns":{"type":"object","title":"Patterns","description":"Optimized hierarchical tree structure of anomalies"},"params":{"type":"object","title":"Params","description":"Parameters used in the optimizer"},"query":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Query","description":"Query filters that were applied"}},"type":"object","required":["total_records","fields","patterns","params"],"title":"AnomalyOptimizedResult","description":"Result model for optimized anomaly detection."},"AssessmentDataResponse":{"properties":{"assessment_id":{"type":"string","title":"Assessment Id"},"assessment_type":{"type":"string","title":"Assessment Type"},"charge_id":{"type":"string","title":"Charge Id"},"company_id":{"type":"string","title":"Company Id"},"decision":{"type":"string","title":"Decision"},"decided_by":{"type":"object","title":"Decided By"},"decision_details":{"type":"object","title":"Decision Details"},"configuration":{"anyOf":[{"type":"object"},{"items":{},"type":"array"}],"title":"Configuration"},"data":{"type":"object","title":"Data"},"snapshot_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Snapshot Id"}},"type":"object","required":["assessment_id","assessment_type","charge_id","company_id","decision"],"title":"AssessmentDataResponse","description":"Response model for assessment data."},"AssessmentListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/AssessmentResponse"},"type":"array","title":"Data"},"pagination":{"type":"object","title":"Pagination","description":"Pagination metadata"}},"type":"object","required":["data","pagination"],"title":"AssessmentListResponse","description":"Response model for listing assessments.","example":{"data":[],"pagination":{"current_page":1,"has_next":true,"has_previous":false,"last_page":1,"next_page":2,"page_size":20}}},"AssessmentResponse":{"properties":{"assessment_id":{"type":"string","title":"Assessment Id"},"assessment_type":{"type":"string","title":"Assessment Type"},"charge_id":{"type":"string","title":"Charge Id"},"company_id":{"type":"string","title":"Company Id"},"decision":{"type":"string","title":"Decision"},"decided_by":{"type":"object","title":"Decided By"},"decision_details":{"type":"object","title":"Decision Details"},"configuration":{"anyOf":[{"type":"object"},{"items":{},"type":"array"}],"title":"Configuration"},"data":{"type":"object","title":"Data"},"snapshot_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Snapshot Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["assessment_id","assessment_type","charge_id","company_id","decision","created_at"],"title":"AssessmentResponse","description":"AssessmentResponse model."},"BlacklistListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/BlacklistResponse"},"type":"array","title":"Data"},"pagination":{"type":"object","title":"Pagination"}},"type":"object","required":["data","pagination"],"title":"BlacklistListResponse","description":"Response model for listing blacklists."},"BlacklistRequest":{"properties":{"value":{"type":"string","maxLength":500,"minLength":1,"title":"Value","description":"Value to be blacklisted. Accepts customer emails, phone numbers, or payment card hashes. Cannot be empty.","examples":["user@example.com","+1234567890","a1b2c3d4e5f6g7h8"]},"expire_at":{"type":"string","format":"date-time","title":"Expire At","description":"Expiration date and time for the blacklist entry. Defaults to 1 year from creation.","examples":["2024-12-31T23:59:59Z"]}},"type":"object","required":["value"],"title":"BlacklistRequest","description":"Pydantic model for the blacklist object."},"BlacklistResponse":{"properties":{"id":{"type":"string","title":"Id"},"value":{"type":"string","title":"Value"},"expire_at":{"type":"string","format":"date-time","title":"Expire At"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"}},"type":"object","required":["id","value","expire_at","created_at","updated_at"],"title":"BlacklistResponse","description":"Pydantic model for the blacklist object."},"ChargeListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ChargeResponse"},"type":"array","title":"Data"},"pagination":{"type":"object","title":"Pagination"}},"type":"object","required":["data","pagination"],"title":"ChargeListResponse","description":"Response model for listing charges."},"ChargeRequest":{"properties":{"charge_id":{"type":"string","maxLength":100,"minLength":1,"title":"Charge Id","description":"Unique identifier for the charge transaction.","examples":["ch_1234567890","charge_abc123def456"]},"status":{"type":"string","pattern":"^(pending|completed|failed|cancelled|refunded|paid)$","title":"Status","description":"Current status of the charge. Must be one of: pending, completed, failed, cancelled, refunded, paid. Defaults to 'pending'.","default":"pending","examples":["pending","completed","failed"]},"customer":{"anyOf":[{"$ref":"#/components/schemas/CustomerRequest"},{"type":"null"}],"description":"Customer information associated with this charge."},"payment":{"anyOf":[{"$ref":"#/components/schemas/PaymentRequest"},{"type":"null"}],"description":"Payment method and transaction details."},"metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Metadata","description":"Additional metadata for the charge. Can contain any custom fields relevant to your business logic or fraud detection rules.","examples":[{"campaign_id":"summer_sale_2024","checkout_steps":3,"customer_tier":"premium","referral_source":"google_ads","session_duration":1200},{"browser":"Chrome","device_type":"mobile","product_category":"electronics","promo_code_used":"SAVE20","shipping_priority":"express"}]}},"type":"object","required":["charge_id"],"title":"ChargeRequest","description":"Pydantic model for charge creation requests."},"ChargeResponse":{"properties":{"charge_id":{"type":"string","title":"Charge Id"},"status":{"type":"string","title":"Status","default":"pending"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"customer":{"$ref":"#/components/schemas/CustomerResponse"},"payment":{"$ref":"#/components/schemas/PaymentResponse"}},"type":"object","required":["charge_id"],"title":"ChargeResponse","description":"Pydantic model for charge responses."},"ChargebackCategoryResponse":{"properties":{"count":{"type":"integer","title":"Count","description":"Total chargebacks count"},"percentage":{"type":"number","title":"Percentage","description":"Percentage of total transactions"},"subcategories":{"additionalProperties":{"$ref":"#/components/schemas/ChargebackSubcategoryResponse"},"type":"object","title":"Subcategories","description":"Breakdown by subcategory"}},"type":"object","required":["count","percentage","subcategories"],"title":"ChargebackCategoryResponse","description":"Complete chargeback category statistics."},"ChargebackStatsResponse":{"properties":{"total":{"type":"integer","title":"Total","description":"Total chargebacks"},"fraud":{"type":"integer","title":"Fraud","description":"Fraud chargebacks"},"authorization":{"type":"integer","title":"Authorization","description":"Authorization chargebacks"},"processing_error":{"type":"integer","title":"Processing Error","description":"Processing error chargebacks"},"customer_dispute":{"type":"integer","title":"Customer Dispute","description":"Customer dispute chargebacks"},"non_receipt":{"type":"integer","title":"Non Receipt","description":"Non-receipt chargebacks"},"cancelled_recurring":{"type":"integer","title":"Cancelled Recurring","description":"Cancelled recurring chargebacks"},"product_issues":{"type":"integer","title":"Product Issues","description":"Product issues chargebacks"},"duplicate_processing":{"type":"integer","title":"Duplicate Processing","description":"Duplicate processing chargebacks"}},"type":"object","required":["total","fraud","authorization","processing_error","customer_dispute","non_receipt","cancelled_recurring","product_issues","duplicate_processing"],"title":"ChargebackStatsResponse","description":"Chargeback statistics breakdown."},"ChargebackSubcategoryResponse":{"properties":{"count":{"type":"integer","title":"Count","description":"Chargeback count"},"percentage":{"type":"number","title":"Percentage","description":"Percentage of total chargebacks"}},"type":"object","required":["count","percentage"],"title":"ChargebackSubcategoryResponse","description":"Chargeback subcategory with count and percentage."},"ChargesApplied":{"properties":{"applied":{"type":"integer","title":"Applied","description":"Number of charges this rule applied to"},"ids":{"items":{"type":"string"},"type":"array","title":"Ids","description":"List of charge IDs (populated if include_charge_ids=True)"}},"type":"object","required":["applied"],"title":"ChargesApplied","description":"Model for charges applied information."},"CompanyResponse":{"properties":{"company_id":{"type":"string","title":"Company Id"},"name":{"type":"string","title":"Name"},"description":{"type":"string","title":"Description"},"legal_representative_name":{"type":"string","title":"Legal Representative Name"},"legal_representative_email":{"type":"string","title":"Legal Representative Email"}},"type":"object","required":["company_id","name","description","legal_representative_name","legal_representative_email"],"title":"CompanyResponse","description":"Company response model."},"ConfigurationDecisionItemRequest":{"properties":{"name":{"type":"string","pattern":"^(ACCEPT_PRIORITY|REJECT_PRIORITY|MAJORITY_RULE)$","title":"Name","description":"Decision strategy name. Must be one of: ACCEPT_PRIORITY (accept takes precedence), REJECT_PRIORITY (reject takes precedence), or MAJORITY_RULE (majority vote decides).","examples":["ACCEPT_PRIORITY","REJECT_PRIORITY","MAJORITY_RULE"]},"description":{"anyOf":[{"type":"string","maxLength":500},{"type":"null"}],"title":"Description","description":"Optional description explaining when and how this decision strategy should be used.","examples":["Use when fraud detection is high priority","Balanced approach for normal operations"]},"enabled":{"type":"boolean","title":"Enabled","description":"Whether this decision strategy is currently active. Only one strategy can be enabled at a time.","default":true}},"type":"object","required":["name"],"title":"ConfigurationDecisionItemRequest","description":"Request model for a decision configuration item."},"ConfigurationDecisionItemResponse":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"enabled":{"type":"boolean","title":"Enabled","default":true}},"type":"object","required":["id","name"],"title":"ConfigurationDecisionItemResponse","description":"Response model for a decision strategy item."},"ConfigurationDecisionRequest":{"properties":{"configuration":{"items":{"$ref":"#/components/schemas/ConfigurationDecisionItemRequest"},"type":"array","maxItems":3,"minItems":1,"title":"Configuration","description":"List of decision strategies configuration. Must contain at least one strategy and exactly one must be enabled. Maximum 3 strategies allowed.","examples":[[{"description":"Accept takes precedence","enabled":true,"name":"ACCEPT_PRIORITY"},{"description":"Reject takes precedence","enabled":false,"name":"REJECT_PRIORITY"}]]}},"type":"object","required":["configuration"],"title":"ConfigurationDecisionRequest","description":"Request model for decision configuration creation."},"ConfigurationDecisionResponse":{"properties":{"configuration":{"items":{"$ref":"#/components/schemas/ConfigurationDecisionItemResponse"},"type":"array","title":"Configuration","default":[]}},"type":"object","title":"ConfigurationDecisionResponse","description":"Response model for decision configuration with strategies."},"ConfigurationExecutionItemResponse":{"properties":{"config_item_id":{"type":"string","title":"Config Item Id"},"priority":{"type":"integer","title":"Priority"},"name":{"type":"string","title":"Name"},"enabled":{"type":"boolean","title":"Enabled","default":true},"stop_on_match":{"type":"boolean","title":"Stop On Match","default":false},"type":{"type":"string","title":"Type"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"configuration_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Configuration Id"}},"type":"object","required":["config_item_id","priority","name","type"],"title":"ConfigurationExecutionItemResponse","description":"Response model for a configuration item."},"ConfigurationExecutionRequest":{"properties":{"configuration":{"items":{"$ref":"#/components/schemas/ConfigurationItemRequest"},"type":"array","maxItems":20,"minItems":1,"title":"Configuration","description":"List of execution configuration items ordered by priority. Each item must have a unique priority and name. Maximum 20 items allowed for performance.","examples":[[{"enabled":true,"name":"Blacklist Check","priority":1,"stop_on_match":true,"type":"BLACKLISTS"},{"enabled":true,"name":"Whitelist Validation","priority":2,"stop_on_match":false,"type":"WHITELISTS"},{"enabled":true,"name":"Fraud Rules","priority":3,"stop_on_match":false,"type":"RULES"}]]}},"type":"object","required":["configuration"],"title":"ConfigurationExecutionRequest","description":"Request model for configuration creation."},"ConfigurationExecutionResponse":{"properties":{"configuration":{"items":{"$ref":"#/components/schemas/ConfigurationExecutionItemResponse"},"type":"array","title":"Configuration","default":[]}},"type":"object","title":"ConfigurationExecutionResponse","description":"Response model for configuration with items."},"ConfigurationItemRequest":{"properties":{"priority":{"type":"integer","maximum":100.0,"mi
[...]
